@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .active{
        @apply font-bold;
    }
    .unactive{
        @apply font-normal;
    }
}

@layer utilities{
    .slide{
        position: absolute;
        top: 0;
        background: white; 
    }
}