@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .active{
        @apply font-bold;
    }
    .unactive{
        @apply font-normal;
    }
}

@layer utilities{
    .slide{
        position: absolute;
        top: 0;
        background: white; 
    }

    .btn{
        position:relative;
    }

    .btn.btn-background-slide::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background-color: black;
        transition: transform 500ms ease-in-out;
        transform: scaleY(0);
        transform-origin: top;
    }

    .btn.btn-background-slide-click::before{
        transform: scaleY(1);
    }

    
    .btn.btn-background-slide-click{
        color: white;
    }

    .btn.btn-background-slide{
        z-index: 1;
        transition: color 500ms ease-in-out;
    }

   
}